@charset "utf-8";
/*-----------------------global--------------*/
body {
	font-family: Arial, "宋体";
	font-size: 12px;
	color: #333333;
	margin:0px; padding:0px;
	background:#ffffff url(../images/body-bg.jpg) no-repeat top center;
}
td,th{font-size:12px}
div, ul, li, h1, h2, h3, p, dl, dt, dd, form, ol{margin:0px; padding:0px;}
img{ border:0;}
.clear{clear:both;}
a {color:#333333; text-decoration:none}
a:hover {color:#ff0000; text-decoration:none}
form{ display:inline; margin:0; padding:0}

/*-----input text button Etc.------*/
.ui-tx-input {border:1px solid #ccc;padding:3px 5px;border-top-color:#777;border-left-color:#777;}
.ui-tx-button { background:url(../images/bat-bg.gif) no-repeat center center; border: none; height:24px; line-height:25px; font-size:12px; width:70px; color:#ffffff; padding:0px; margin:0px;}
.ui-tx-button2 { background:url(../images/bat-bg2.gif) no-repeat center center; border: none; height:24px; width:70px; line-height:25px; font-size:12px; color:#ffffff; padding:0px; margin:0px;}

/*--------fieldset---------------*/
fieldset { 
	padding:10px 10px; 
	margin:5px 0px; 
	border:1px solid #dfdfdf; 
	width:96%;
} 

fieldset legend { 
	color:#6C4800; 
	-moz-border-radius:8px;
	font-weight:bold; 
}

/*--------border-------------------*/
.ui-tx-bottom-d-border{border-bottom:#D0D0D0 dashed 1px}
.ui-tx-top-d-border{border-top:#D0D0D0 dashed 1px}

.ui-tx-bottom-s-border{border-bottom:#D0D0D0 solid 1px}
.ui-tx-top-s-border{border-top:#D0D0D0 solid 1px}

.ui-tx-d-border{border:#D0D0D0 dashed 1px}
.ui-tx-s-border{border:#D0D0D0 solid 1px}

/*------------------tab Vertical--------------*/
.ui-tx-tab-v {
	padding:0px;
	width:150px;
	padding-top:50px;
	height:555px;
	background-image: url(../images/line.gif);
	background-repeat: repeat-y;
	background-position: right top;
	margin-left:5px
}
.ui-tx-tab-v div{line-height:30px; height:30px; vertical-align:middle; width:148px; text-align:center; border:1px solid #e0ded2; border-right:none; display:block; margin:2px 0px; list-style:none; overflow:hidden}
div.ui-tx-tab-v-active{background:#FFFFFF;  width:149px; border:1px solid #6C4800; border-right:none;font-weight:bold}
div.ui-tx-tab-v-active a{font-weight:bold}

#ui-tx-main{width:996px; margin:0 auto;}
.ui-tx-left{width:165px; float:left;}
.ui-tx-right{width:815px; float:right;}
.ui-tx-right td{ line-height:25px;}
.ui-tx-top {width:996px; margin:0 auto; height:93px; border-bottom:solid 1px #6C4800}
.ui-tx-top .t-left {width:268px; float:left;}
.ui-tx-top .t-right {width:178px; float:right; padding-top:56px;}
.ui-tx-bar{width:100%; height:30px; text-align:center; line-height:30px; vertical-align:middle;}
