BODY {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
HR {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
P {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BLOCKQUOTE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
OL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
PRE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FIELDSET {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LEGEND {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BUTTON {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
INPUT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TEXTAREA {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TH {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
IMG {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BODY {
	LINE-HEIGHT: 1.5; FONT-FAMILY: Arial; FONT-SIZE: 12px
}
HTML.off {
	BACKGROUND: url(bgimg/left_bg.png) #f7f7f7 repeat-y -40px top
}
HTML.off BODY {
	BACKGROUND: url(bgimg/left_bg.png) #f7f7f7 repeat-y -40px top
}
HTML.on {
	BACKGROUND-IMAGE: none
}
HTML.on BODY {
	BACKGROUND-IMAGE: none
}
HTML.addbg {
	BACKGROUND: #e2e9ea
}
HTML.addbg BODY {
	BACKGROUND: #e2e9ea
}
H1 {
	FONT-SIZE: 100%
}
H2 {
	FONT-SIZE: 100%
}
H3 {
	FONT-SIZE: 100%
}
H4 {
	FONT-SIZE: 100%
}
H5 {
	FONT-SIZE: 100%
}
H6 {
	FONT-SIZE: 100%
}
OL {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
UL {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
LI {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
DL {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
DD {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
DT {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
TABLE {
	BORDER-SPACING: 0; BORDER-COLLAPSE: collapse
}
.fl {
	FLOAT: left
}
.fr {
	FLOAT: right
}
.cb {
	CLEAR: both
}
.tl {
	TEXT-ALIGN: left
}
.tc {
	TEXT-ALIGN: center
}
.tr {
	TEXT-ALIGN: right
}
.hr {
	BACKGROUND: url(bgimg/uline.gif) repeat-x center center
}
.hr HR {
	DISPLAY: none
}
FIELDSET {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
INPUT {
	VERTICAL-ALIGN: middle
}
LABEL {
	VERTICAL-ALIGN: middle
}
IMG {
	VERTICAL-ALIGN: middle
}
TH {
	VERTICAL-ALIGN: middle
}
BUTTON {
	FONT-SIZE: 100%
}
INPUT {
	FONT-SIZE: 100%
}
SELECT {
	FONT-SIZE: 100%
}
TEXTAREA {
	FONT-SIZE: 100%
}
.hidden {
	DISPLAY: none
}
.block {
	DISPLAY: block
}
.invisible {
	VISIBILITY: hidden
}
.hand {
	CURSOR: pointer
}
.cu {
	CURSOR: pointer
}
.cu_li LI {
	CURSOR: pointer
}
.cu_span SPAN {
	CURSOR: pointer
}
.clearfix:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: "\0020"
}
.clearfix {
	ZOOM: 1; CLEAR: both
}
#preview IMG {
	MAX-WIDTH: 200px
}
.smt {
	BORDER-BOTTOM: medium none; TEXT-ALIGN: center; BORDER-LEFT: medium none; PADDING-BOTTOM: 2px; LINE-HEIGHT: 32px; MARGIN-TOP: 5px; WIDTH: 104px; DISPLAY: block; BACKGROUND: url(bgimg/btn_total.gif) no-repeat; FLOAT: left; HEIGHT: 30px; COLOR: #fff; FONT-SIZE: 14px; BORDER-TOP: medium none; CURSOR: pointer; FONT-WEIGHT: bold; BORDER-RIGHT: medium none
}
.smt:hover {
	BACKGROUND-POSITION: 0px -34px; TEXT-DECORATION: none
}
.fb {
	FONT-WEIGHT: bold
}
.em {
	FONT-STYLE: italic
}
.u {
	TEXT-DECORATION: underline
}
.strike {
	TEXT-DECORATION: line-through
}
.f11 {
	FONT-SIZE: 11px
}
.f14 {
	FONT-SIZE: 14px
}
ADDRESS {
	FONT-STYLE: normal
}
CITE {
	FONT-STYLE: normal
}
DFN {
	FONT-STYLE: normal
}
EM {
	FONT-STYLE: normal
}
VAR {
	FONT-STYLE: normal
}
A {
	COLOR: #444; TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
.white {
	COLOR: #bd7e00
}
.white A {
	COLOR: #bd7e00
}
.gray4 {
	COLOR: #999
}
A.gray4 {
	COLOR: #999
}
.red {
	COLOR: red
}
.red A {
	COLOR: red
}
A.red {
	COLOR: red
}
.green {
	COLOR: #0e774a
}
.blue {
	COLOR: #004499
}
.blue A {
	COLOR: #004499
}
.gray {
	COLOR: #999
}
.black {
	COLOR: #000
}
.green {
	COLOR: #0e774a
}
.highlight {
	COLOR: #c00; FONT-WEIGHT: 700
}
.img_border IMG {
	BORDER-BOTTOM: #cfcdcd 1px solid; BORDER-LEFT: #cfcdcd 1px solid; PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; BORDER-TOP: #cfcdcd 1px solid; BORDER-RIGHT: #cfcdcd 1px solid; PADDING-TOP: 1px
}
.bk {
	LINE-HEIGHT: 1px; HEIGHT: 0px; CLEAR: both; FONT-SIZE: 1px
}
.bk3 {
	LINE-HEIGHT: 1px; HEIGHT: 0px; CLEAR: both; FONT-SIZE: 1px
}
.bk6 {
	LINE-HEIGHT: 1px; HEIGHT: 0px; CLEAR: both; FONT-SIZE: 1px
}
.bk8 {
	LINE-HEIGHT: 1px; HEIGHT: 0px; CLEAR: both; FONT-SIZE: 1px
}
.bk10 {
	LINE-HEIGHT: 1px; HEIGHT: 0px; CLEAR: both; FONT-SIZE: 1px
}
.bk15 {
	LINE-HEIGHT: 1px; HEIGHT: 0px; CLEAR: both; FONT-SIZE: 1px
}
.bk20 {
	LINE-HEIGHT: 1px; HEIGHT: 0px; CLEAR: both; FONT-SIZE: 1px
}
.bk30 {
	LINE-HEIGHT: 1px; HEIGHT: 0px; CLEAR: both; FONT-SIZE: 1px
}
.bk3 {
	HEIGHT: 3px
}
.bk6 {
	HEIGHT: 6px
}
.bk8 {
	HEIGHT: 8px
}
.bk10 {
	HEIGHT: 10px
}
.bk15 {
	HEIGHT: 15px
}
.bk20 {
	HEIGHT: 20px
}
.bk30 {
	HEIGHT: 30px
}
.mr3 {
	MARGIN-RIGHT: 3px
}
.mr5 {
	MARGIN-RIGHT: 5px
}
.mr10 {
	MARGIN-RIGHT: 10px
}
.ml5 {
	MARGIN-LEFT: 5px
}
.ml10 {
	MARGIN-LEFT: 10px
}
.ml20 {
	MARGIN-LEFT: 20px
}
.mt10 {
	MARGIN-TOP: 10px
}
.mt5 {
	MARGIN-TOP: 5px
}
.pad_6 {
	PADDING-BOTTOM: 6px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; OVERFLOW: hidden; PADDING-TOP: 6px
}
.pad_10 {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; OVERFLOW: hidden; PADDING-TOP: 10px
}
.pad_lr_10 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 0px
}
.pad_lr_6 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; PADDING-TOP: 0px
}
.lh20 {
	LINE-HEIGHT: 20px
}
.lh22 {
	LINE-HEIGHT: 22px
}
.lh24 {
	LINE-HEIGHT: 24px
}
.lh26 {
	LINE-HEIGHT: 26px
}
.lh28 {
	LINE-HEIGHT: 28px
}
.line_x {
	BORDER-BOTTOM: #eee 1px solid
}
.title_1 {
	BORDER-BOTTOM: #eee 1px solid; PADDING-LEFT: 5px
}
.title_2 {
	TEXT-ALIGN: left; PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT: 14px "MicroSoft YaHei", "SimHei"; HEIGHT: 25px; COLOR: #333; PADDING-TOP: 4px
}
.title_3 {
	TEXT-ALIGN: left; PADDING-BOTTOM: 4px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; FONT-WEIGHT: normal; PADDING-TOP: 4px
}
.ib {
	ZOOM: 1; DISPLAY: inline-block
}
.ib_li LI {
	ZOOM: 1; DISPLAY: inline-block
}
.ib_a A {
	ZOOM: 1; DISPLAY: inline-block
}
.ib-span SPAN {
	ZOOM: 1; DISPLAY: inline-block
}
.common_form UL LI SPAN.text {
	ZOOM: 1; DISPLAY: inline-block
}
.fixed_bottom .fixed_but .btn {
	ZOOM: 1; DISPLAY: inline-block
}
.arrowhead {
	ZOOM: 1; DISPLAY: inline-block
}
.arrowhead-b {
	ZOOM: 1; DISPLAY: inline-block
}
shortcut A {
	ZOOM: 1; DISPLAY: inline-block
}
.shortcut A SPAN {
	ZOOM: 1; DISPLAY: inline-block
}
.picBut A {
	ZOOM: 1; DISPLAY: inline-block
}
.tab_use {
	ZOOM: 1; DISPLAY: inline-block
}
.cut_line SPAN.cut {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; COLOR: #4d82bc; PADDING-TOP: 0px
}
.btn {
	BORDER-BOTTOM: #c4c4c4 1px solid; POSITION: relative; TEXT-ALIGN: center; BORDER-LEFT: #c4c4c4 1px solid; PADDING-BOTTOM: 4px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; ZOOM: 1; DISPLAY: inline-block; FONT-FAMILY: inherit; WHITE-SPACE: nowrap; BACKGROUND: #f1f0f0; COLOR: #333; OVERFLOW: visible; BORDER-TOP: #c4c4c4 1px solid; CURSOR: pointer; MARGIN-RIGHT: 10px; BORDER-RIGHT: #c4c4c4 1px solid; TEXT-DECORATION: none; PADDING-TOP: 4px; border-radius: 2px; text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75)
}
.btn:hover {
	BACKGROUND: #e9e7e7
}
.btn_submit {
	BORDER-BOTTOM-COLOR: #289121; BORDER-TOP-COLOR: #289121; BACKGROUND: #289121; COLOR: #ffffff; BORDER-RIGHT-COLOR: #289121; BORDER-LEFT-COLOR: #289121; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)
}
.btn_submit:hover {
	BACKGROUND: #227e1c
}
.upload_btn {
	BORDER-BOTTOM: #c4c4c4 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #c4c4c4 1px solid; WIDTH: 60px; DISPLAY: inline-block; BACKGROUND: #f1f0f0; FLOAT: left; HEIGHT: 22px; COLOR: #333; BORDER-TOP: #c4c4c4 1px solid; CURSOR: pointer; BORDER-RIGHT: #c4c4c4 1px solid; border-radius: 2px; text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75)
}
.upload_btn SPAN {
	LINE-HEIGHT: 22px; WIDTH: 60px; FLOAT: right; HEIGHT: 22px; TOP: 0px; RIGHT: 0px
}
.btn_disabled SPAN {
	BACKGROUND: #cacaca; COLOR: #ffffff
}
.btn_blue {
	BORDER-BOTTOM: #39f 1px solid; BORDER-LEFT: #39f 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; DISPLAY: inline-block; BACKGROUND: #39f; COLOR: #fff; BORDER-TOP: #39f 1px solid; CURSOR: pointer; BORDER-RIGHT: #39f 1px solid; TEXT-DECORATION: none; PADDING-TOP: 0px; border-radius: 3px
}
.btn_blue:hover {
	BACKGROUND: #2983e4; TEXT-DECORATION: none
}
.table_list {
	BORDER-BOTTOM: #d5dfe8 1px solid; BORDER-LEFT: #d5dfe8 1px solid; MARGIN-BOTTOM: 40px; BORDER-TOP: #d5dfe8 1px solid; BORDER-RIGHT: #d5dfe8 1px solid
}
.table_list TD {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; PADDING-TOP: 0px
}
.table_list TH {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; PADDING-TOP: 0px
}
.table_list THEAD TH {
	BACKGROUND: #eaf0f7; HEIGHT: 30px; FONT-WEIGHT: 700
}
.table_list TBODY TD {
	PADDING-BOTTOM: 4px; LINE-HEIGHT: 24px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; BORDER-TOP: #d5dfe8 1px solid; PADDING-TOP: 4px
}
.table_list TR:hover {
	BACKGROUND: #ffffe1
}
.table_list TABLE TBODY TR:hover {
	BACKGROUND: #ffffe1
}
.table_list .input-text-c {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 18px; PADDING-TOP: 0px
}
.input-text-c {
	BORDER-BOTTOM: #a7a6aa 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #a7a6aa 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 18px; BORDER-TOP: #a7a6aa 1px solid; BORDER-RIGHT: #a7a6aa 1px solid; PADDING-TOP: 2px
}
.table_list TR.on {
	BACKGROUND: #fdf9e5
}
.table_list TR.on TD {
	BACKGROUND: #fdf9e5
}
.table_list TR.on TH {
	BACKGROUND: #fdf9e5
}
.table_list TD.on {
	BACKGROUND: #fdf9e5
}
.table_list TH.on {
	BACKGROUND: #fdf9e5
}
.table_form {
	
}
.table_form INPUT {
	
}
.table_form TD {
	PADDING-LEFT: 12px
}
.table_form TD LABEL {
	VERTICAL-ALIGN: middle
}
.table_form TD {
	PADDING-BOTTOM: 8px; PADDING-LEFT: 8px; PADDING-RIGHT: 0px; PADDING-TOP: 8px
}
.table_form TH {
	PADDING-BOTTOM: 8px; PADDING-LEFT: 8px; PADDING-RIGHT: 0px; PADDING-TOP: 8px
}
.table_form THEAD {
	
}
.table_form THEAD TH {
	BORDER-BOTTOM: #eee 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 8px; PADDING-RIGHT: 0px; BACKGROUND: #eaf0f7; COLOR: #777; FONT-WEIGHT: 700; PADDING-TOP: 5px
}
.table_form TBODY TD {
	BORDER-BOTTOM: #eee 1px solid
}
.table_form TBODY TH {
	BORDER-BOTTOM: #eee 1px solid
}
.colorpanel TBODY TD {
	BORDER-BOTTOM: medium none; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.colorpanel TBODY TH {
	BORDER-BOTTOM: medium none; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.table_form TBODY TH {
	TEXT-ALIGN: right; PADDING-RIGHT: 10px; COLOR: #777; FONT-WEIGHT: normal
}
.table-other {
	BORDER-BOTTOM: #d5dfe8 1px solid; BORDER-LEFT: #d5dfe8 1px solid; BORDER-TOP: #d5dfe8 1px solid; BORDER-RIGHT: #d5dfe8 1px solid
}
.table-other TD {
	BORDER-BOTTOM: #d5dfe8 1px solid; BORDER-LEFT: #d5dfe8 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BORDER-TOP: #d5dfe8 1px solid; BORDER-RIGHT: #d5dfe8 1px solid; PADDING-TOP: 5px
}
.table-other TH {
	BORDER-BOTTOM: #d5dfe8 1px solid; BORDER-LEFT: #d5dfe8 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BORDER-TOP: #d5dfe8 1px solid; BORDER-RIGHT: #d5dfe8 1px solid; PADDING-TOP: 5px
}
.btn_wrap {
	PADDING-BOTTOM: 4px; LINE-HEIGHT: normal; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: #ffffe1; BORDER-TOP: #a5bcf4 1px solid; PADDING-TOP: 4px
}
.btn_wrap_fixed {
	PADDING-BOTTOM: 4px; LINE-HEIGHT: normal; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: #ffffe1; BORDER-TOP: #a5bcf4 1px solid; PADDING-TOP: 4px
}
.btn_wrap_fixed {
	Z-INDEX: 5; POSITION: fixed; WIDTH: 100%; BOTTOM: 0px; LEFT: 0px; _position: absolute
}
.select_all INPUT {
	MARGIN: 0px 5px
}
.sort_th {
	COLOR: #ab7500; CURSOR: pointer
}
.sort_desc {
	PADDING-RIGHT: 12px; BACKGROUND: url(bgimg/desc.gif) no-repeat right 50%
}
.sort_asc {
	PADDING-RIGHT: 12px; BACKGROUND: url(bgimg/asc.gif) no-repeat right 50%
}
.tdedit {
	PADDING-RIGHT: 14px; BACKGROUND: url(bgimg/tdedit.gif) no-repeat right 2px
}
.lt_input_text {
	BORDER-BOTTOM: #a8d0f4 1px solid; BORDER-LEFT: #a8d0f4 1px solid; PADDING-BOTTOM: 2px; LINE-HEIGHT: 100%; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; FONT-FAMILY: Verdana, Geneva, sans-serif, "宋体"; HEIGHT: 14px; FONT-SIZE: 12px; BORDER-TOP: #a8d0f4 1px solid; BORDER-RIGHT: #a8d0f4 1px solid; PADDING-TOP: 2px
}
.button {
	BORDER-BOTTOM: #666 1px solid; BORDER-LEFT: 0px; PADDING-BOTTOM: 3px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; BACKGROUND: #ddd; HEIGHT: 24px; BORDER-TOP: 0px; MARGIN-RIGHT: 5px; BORDER-RIGHT: #666 1px solid; PADDING-TOP: 3px
}
.input-text {
	BORDER-BOTTOM: #d0d0d0 1px solid; BORDER-LEFT: #d0d0d0 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 5px; PADDING-RIGHT: 0px; FONT-FAMILY: Verdana, Geneva, sans-serif, "宋体"; BACKGROUND: url(bgimg/input.png) #fff repeat-x; HEIGHT: 18px; FONT-SIZE: 12px; BORDER-TOP: #d0d0d0 1px solid; BORDER-RIGHT: #d0d0d0 1px solid; PADDING-TOP: 2px
}
.measure-input {
	BORDER-BOTTOM: #d0d0d0 1px solid; BORDER-LEFT: #d0d0d0 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 5px; PADDING-RIGHT: 0px; FONT-FAMILY: Verdana, Geneva, sans-serif, "宋体"; BACKGROUND: url(bgimg/input.png) #fff repeat-x; HEIGHT: 18px; FONT-SIZE: 12px; BORDER-TOP: #d0d0d0 1px solid; BORDER-RIGHT: #d0d0d0 1px solid; PADDING-TOP: 2px
}
TEXTAREA {
	BORDER-BOTTOM: #d0d0d0 1px solid; BORDER-LEFT: #d0d0d0 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 5px; PADDING-RIGHT: 0px; FONT-FAMILY: Verdana, Geneva, sans-serif, "宋体"; BACKGROUND: url(bgimg/input.png) #fff repeat-x; HEIGHT: 18px; FONT-SIZE: 12px; BORDER-TOP: #d0d0d0 1px solid; BORDER-RIGHT: #d0d0d0 1px solid; PADDING-TOP: 2px
}
INPUT.date {
	BORDER-BOTTOM: #d0d0d0 1px solid; BORDER-LEFT: #d0d0d0 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 5px; PADDING-RIGHT: 0px; FONT-FAMILY: Verdana, Geneva, sans-serif, "宋体"; BACKGROUND: url(bgimg/input.png) #fff repeat-x; HEIGHT: 18px; FONT-SIZE: 12px; BORDER-TOP: #d0d0d0 1px solid; BORDER-RIGHT: #d0d0d0 1px solid; PADDING-TOP: 2px
}
INPUT.endDate {
	BORDER-BOTTOM: #d0d0d0 1px solid; BORDER-LEFT: #d0d0d0 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 5px; PADDING-RIGHT: 0px; FONT-FAMILY: Verdana, Geneva, sans-serif, "宋体"; BACKGROUND: url(bgimg/input.png) #fff repeat-x; HEIGHT: 18px; FONT-SIZE: 12px; BORDER-TOP: #d0d0d0 1px solid; BORDER-RIGHT: #d0d0d0 1px solid; PADDING-TOP: 2px
}
.input-focus {
	BORDER-BOTTOM: #d0d0d0 1px solid; BORDER-LEFT: #d0d0d0 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 5px; PADDING-RIGHT: 0px; FONT-FAMILY: Verdana, Geneva, sans-serif, "宋体"; BACKGROUND: url(bgimg/input.png) #fff repeat-x; HEIGHT: 18px; FONT-SIZE: 12px; BORDER-TOP: #d0d0d0 1px solid; BORDER-RIGHT: #d0d0d0 1px solid; PADDING-TOP: 2px
}
.input-focus {
	BORDER-BOTTOM-COLOR: #afcee6; BORDER-TOP-COLOR: #afcee6; BACKGROUND: url(bgimg/input_focus.png) #fff repeat-x; BORDER-RIGHT-COLOR: #afcee6; FONT-SIZE: 12px; BORDER-LEFT-COLOR: #afcee6
}
INPUT.date {
	PADDING-RIGHT: 18px; BACKGROUND: url(bgimg/input_date.png) #fff no-repeat right 3px; FONT-SIZE: 12px
}
INPUT.endDate {
	PADDING-RIGHT: 18px; BACKGROUND: url(bgimg/input_date.png) #fff no-repeat right 3px; FONT-SIZE: 12px
}
TEXTAREA {
	PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; HEIGHT: auto; FONT-SIZE: 12px; PADDING-TOP: 5px
}
TEXTAREA.input-text {
	PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; HEIGHT: auto; FONT-SIZE: 12px; PADDING-TOP: 5px
}
TEXTAREA.input-focus {
	PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; HEIGHT: auto; FONT-SIZE: 12px; PADDING-TOP: 5px
}
SELECT {
	BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #666666 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; BACKGROUND: #f9f9f9 0px 0px; COLOR: #333; VERTICAL-ALIGN: middle; BORDER-TOP: #666666 1px solid; BORDER-RIGHT: #cccccc 1px solid; PADDING-TOP: 2px
}
.search_form {
	MARGIN-BOTTOM: 10px
}
.explain_col {
	BORDER-BOTTOM: #ffbe7a 1px solid; BORDER-LEFT: #ffbe7a 1px solid; PADDING-BOTTOM: 8px; LINE-HEIGHT: 20px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; ZOOM: 1; BACKGROUND: #fffced; BORDER-TOP: #ffbe7a 1px solid; BORDER-RIGHT: #ffbe7a 1px solid; PADDING-TOP: 8px
}
.table_block {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; MARGIN: 0px 5px 10px; ZOOM: 1; FLOAT: left; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.table_block TH {
	TEXT-ALIGN: right; PADDING-BOTTOM: 4px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; COLOR: #777; FONT-WEIGHT: normal; PADDING-TOP: 4px
}
.table_block TD {
	BORDER-BOTTOM: #eee 1px solid
}
.table_block TH {
	BORDER-BOTTOM: #eee 1px solid
}
.tip_list {
	COLOR: #555
}
.tip_list LI {
	PADDING-BOTTOM: 5px; LINE-HEIGHT: 120%; PADDING-LEFT: 0px; PADDING-RIGHT: 20px; MARGIN-BOTTOM: 2px; FLOAT: left; PADDING-TOP: 0px
}
.loading {
	LINE-HEIGHT: 20px; PADDING-LEFT: 30px; BACKGROUND: url(bgimg/ajax_loading.gif) no-repeat
}
.ajax_loading {
	POSITION: absolute; PADDING-BOTTOM: 2px; PADDING-LEFT: 25px; PADDING-RIGHT: 5px; DISPLAY: none; BACKGROUND: url(bgimg/ajax_loading.gif) #ff5151 no-repeat 3px 2px; COLOR: #fff; TOP: 0px; RIGHT: 0px; PADDING-TOP: 2px
}
#message_list {
	
}
#message_list .list_error {
	BORDER-BOTTOM: #ff9b9b 1px solid; BORDER-LEFT: #ff9b9b 1px solid; LINE-HEIGHT: 30px; PADDING-LEFT: 40px; MARGIN-BOTTOM: 5px; BACKGROUND: url(bgimg/error_icon.gif) #ffffe9 no-repeat 10px 5px; HEIGHT: 30px; COLOR: #f00; BORDER-TOP: #ff9b9b 1px solid; BORDER-RIGHT: #ff9b9b 1px solid
}
.showMsg {
	POSITION: absolute; TEXT-ALIGN: center; MARGIN: -137px 0px 0px -275px; WIDTH: 550px; ZOOM: 1; BACKGROUND: #eaf0f7; TOP: 44%; LEFT: 50%; border-radius: 3px
}
.showMsg H5 {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; LINE-HEIGHT: 26px; PADDING-LEFT: 15px; PADDING-RIGHT: 0px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 25px; COLOR: #979797; FONT-SIZE: 14px; OVERFLOW: hidden; FONT-WEIGHT: normal; PADDING-TOP: 10px
}
.showMsg .content {
	TEXT-ALIGN: left; PADDING-BOTTOM: 10px; PADDING-LEFT: 35px; PADDING-RIGHT: 12px; HEIGHT: 114px; FONT-SIZE: 14px; PADDING-TOP: 96px
}
.showMsg .bottom {
	TEXT-ALIGN: center; LINE-HEIGHT: 26px; MARGIN: 0px 1px 1px; BACKGROUND: #ffebd9; HEIGHT: 26px
}
.showMsg .guery {
	ZOOM: 1; DISPLAY: inline-block; FONT: 16px "MicroSoft Yahei", 宋体; MAX-WIDTH: 550px; COLOR: #bd7e04; text-shadow: 1px 1px rgba(0, 0, 0, 0.2)
}
.login_body {
	POSITION: relative; FONT: 12px/1.14 "MicroSoft Yahei", "?????“", 宋体; HEIGHT: 100%; COLOR: #000; OVERFLOW: hidden
}
.login_hd {
	BACKGROUND: #6c4800
}
.login_hd_main {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 46px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; HEIGHT: 46px; PADDING-TOP: 0px
}
.login_logo {
	MARGIN: 9px 0px 0px; WIDTH: 114px; BACKGROUND: url(/templates/tadmin/images/login_logo.png) no-repeat; FLOAT: left; HEIGHT: 27px; OVERFLOW: hidden
}
.login_slogan {
	FLOAT: left; COLOR: #e3e3e3; MARGIN-LEFT: 9px
}
.login_nav {
	FLOAT: right; COLOR: #b7aa98
}
.login_nav A {
	COLOR: #b7aa98
}
.login_wrap {
	Z-INDEX: 4; POSITION: fixed; WIDTH: 100%; BACKGROUND: url(/templates/tadmin/images/login_bg.jpg) #6c4800 no-repeat center 50%; HEIGHT: 100%; background-size: cover
}
.login_box {
	Z-INDEX: 6; POSITION: absolute; WIDTH: 320px; BACKGROUND: #000; HEIGHT: 390px; MARGIN-LEFT: 10%; TOP: 15%; LEFT: 50%; box-shadow: 0 0 5px rgba(0, 0, 0, 0.3)
}
.login_funbox {
	MARGIN: 15px 15px 15px 30px; WIDTH: 260px
}
.login_ipt {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 10px; LINE-HEIGHT: 20px; MARGIN-TOP: 25px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 10px; OUTLINE-WIDTH: medium; WIDTH: 240px; PADDING-RIGHT: 10px; FONT-FAMILY: Microsoft Yahei; BACKGROUND: #fafafa; HEIGHT: 20px; COLOR: #333; FONT-SIZE: 13px; BORDER-TOP: 0px; FONT-WEIGHT: 400; BORDER-RIGHT: 0px; PADDING-TOP: 10px; box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3)
}
.forgotpw {
	FLOAT: right; COLOR: #e6e6e6; text-shadow: 1px 1px rgba(0, 0, 0, 0.2)
}
.loginbtn {
	BORDER-BOTTOM: medium none; TEXT-ALIGN: center; BORDER-LEFT: medium none; MARGIN-TOP: 50px; WIDTH: 260px; DISPLAY: block; FONT: 16px "MicroSoft Yahei", "宋体", 宋体; BACKGROUND: #b98b2e; HEIGHT: 40px; COLOR: #fff; BORDER-TOP: medium none; CURSOR: pointer; BORDER-RIGHT: medium none; text-shadow: 1px 1px rgba(0, 0, 0, 0.2); box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3)
}
.loginbtn:hover {
	BACKGROUND: #e9b041; TEXT-DECORATION: none
}
.footer {
	Z-INDEX: 9; POSITION: absolute; BOTTOM: 80px; COLOR: #fff; LEFT: 20px
}
.footer_main {
	WHITE-SPACE: nowrap; COLOR: #ddd; text-shadow: 1px 1px rgba(0, 0, 0, 0.2)
}
.footer_main A {
	COLOR: #ddd
}
.table_panel {
	TEXT-ALIGN: left
}
.table_panel TH {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; COLOR: #333; VERTICAL-ALIGN: middle; PADDING-TOP: 0px
}
.table_map {
	BORDER-BOTTOM: medium none; TEXT-ALIGN: left; BORDER-LEFT: #eee 1px solid; LINE-HEIGHT: 30px; WIDTH: 100%; BORDER-TOP: #eee 1px solid; BORDER-RIGHT: #eee 1px solid
}
.table_map TR {
	BORDER-BOTTOM: #eee 1px solid
}
.table_map TR:hover {
	BACKGROUND: #fbffe4
}
.table_map TH {
	TEXT-ALIGN: right; PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: #cde8f5; COLOR: #666; VERTICAL-ALIGN: middle; PADDING-TOP: 0px
}
.table_map_sub TR {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
.table_map_sub TH {
	TEXT-ALIGN: left; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-WEIGHT: normal
}
.table_map_sub TD A {
	FLOAT: left; COLOR: #0364ae; MARGIN-RIGHT: 20px
}
.table_map_sub TD LABEL {
	WIDTH: 120px; FLOAT: left; COLOR: #0364ae
}
.table_map_sub TD LABEL INPUT {
	MARGIN: 8px 5px 0px 0px; FLOAT: left
}
.border_table {
	
}
.border_table TH {
	BORDER-BOTTOM: #e3e3e3 1px solid; BORDER-LEFT: #e3e3e3 1px solid; BACKGROUND: #f4faff; BORDER-TOP: #e3e3e3 1px solid; BORDER-RIGHT: #e3e3e3 1px solid
}
.border_table TD {
	BORDER-BOTTOM: #e3e3e3 1px solid; BORDER-LEFT: #e3e3e3 1px solid; BACKGROUND: #f4faff; BORDER-TOP: #e3e3e3 1px solid; BORDER-RIGHT: #e3e3e3 1px solid
}
.onShow {
	PADDING-BOTTOM: 2px; LINE-HEIGHT: 18px; PADDING-LEFT: 23px; PADDING-RIGHT: 10px; ZOOM: 1; DISPLAY: inline-block; BACKGROUND: url(bgimg/msg_bg.png) no-repeat; COLOR: #444; MARGIN-LEFT: 10px; VERTICAL-ALIGN: middle; PADDING-TOP: 2px; _margin-left: 5px
}
.onFocus {
	PADDING-BOTTOM: 2px; LINE-HEIGHT: 18px; PADDING-LEFT: 23px; PADDING-RIGHT: 10px; ZOOM: 1; DISPLAY: inline-block; BACKGROUND: url(bgimg/msg_bg.png) no-repeat; COLOR: #444; MARGIN-LEFT: 10px; VERTICAL-ALIGN: middle; PADDING-TOP: 2px; _margin-left: 5px
}
.onError {
	PADDING-BOTTOM: 2px; LINE-HEIGHT: 18px; PADDING-LEFT: 23px; PADDING-RIGHT: 10px; ZOOM: 1; DISPLAY: inline-block; BACKGROUND: url(bgimg/msg_bg.png) no-repeat; COLOR: #444; MARGIN-LEFT: 10px; VERTICAL-ALIGN: middle; PADDING-TOP: 2px; _margin-left: 5px
}
.onCorrect {
	PADDING-BOTTOM: 2px; LINE-HEIGHT: 18px; PADDING-LEFT: 23px; PADDING-RIGHT: 10px; ZOOM: 1; DISPLAY: inline-block; BACKGROUND: url(bgimg/msg_bg.png) no-repeat; COLOR: #444; MARGIN-LEFT: 10px; VERTICAL-ALIGN: middle; PADDING-TOP: 2px; _margin-left: 5px
}
.onLoad {
	PADDING-BOTTOM: 2px; LINE-HEIGHT: 18px; PADDING-LEFT: 23px; PADDING-RIGHT: 10px; ZOOM: 1; DISPLAY: inline-block; BACKGROUND: url(bgimg/msg_bg.png) no-repeat; COLOR: #444; MARGIN-LEFT: 10px; VERTICAL-ALIGN: middle; PADDING-TOP: 2px; _margin-left: 5px
}
.onTime {
	PADDING-BOTTOM: 2px; LINE-HEIGHT: 18px; PADDING-LEFT: 23px; PADDING-RIGHT: 10px; ZOOM: 1; DISPLAY: inline-block; BACKGROUND: url(bgimg/msg_bg.png) no-repeat; COLOR: #444; MARGIN-LEFT: 10px; VERTICAL-ALIGN: middle; PADDING-TOP: 2px; _margin-left: 5px
}
.onShow {
	BORDER-BOTTOM-COLOR: #40b3ff; BORDER-TOP-COLOR: #40b3ff; BACKGROUND-POSITION: 3px -147px; COLOR: #959595; BORDER-RIGHT-COLOR: #40b3ff; BORDER-LEFT-COLOR: #40b3ff
}
.onFocus {
	BORDER-BOTTOM-COLOR: #40b3ff; BORDER-TOP-COLOR: #40b3ff; BACKGROUND-POSITION: 3px -147px; BORDER-RIGHT-COLOR: #40b3ff; BORDER-LEFT-COLOR: #40b3ff
}
.onError {
	BORDER-BOTTOM-COLOR: #40b3ff; BORDER-TOP-COLOR: #40b3ff; BACKGROUND-POSITION: 3px -47px; COLOR: red; BORDER-RIGHT-COLOR: #40b3ff; BORDER-LEFT-COLOR: #40b3ff
}
.onCorrect {
	BORDER-BOTTOM-COLOR: #40b3ff; BORDER-TOP-COLOR: #40b3ff; BACKGROUND-POSITION: 3px -247px; BORDER-RIGHT-COLOR: #40b3ff; BORDER-LEFT-COLOR: #40b3ff
}
.onLamp {
	BACKGROUND-POSITION: 3px -200px
}
.onTime {
	BACKGROUND-POSITION: 3px -1356px
}
.enabled {
	WIDTH: 17px; DISPLAY: inline-block; BACKGROUND: url(bgimg/msg_bg.png) no-repeat 0px -250px; HEIGHT: 17px; CURSOR: pointer
}
.disabled {
	WIDTH: 17px; DISPLAY: inline-block; BACKGROUND: url(bgimg/msg_bg.png) no-repeat; HEIGHT: 17px; CURSOR: pointer
}
#header {
	BACKGROUND: #090402; HEIGHT: 79px; OVERFLOW: hidden; box-shadow: 0 1px 2px 0 RGBA(0, 0, 0, .3)
}
#header .logo {
	FLOAT: left; MARGIN-RIGHT: 10px
}
#header .logo A {
	MARGIN: 5px 0px 0px 15px; WIDTH: 140px; DISPLAY: block; BACKGROUND: url(bgimg/logo.png) no-repeat; HEIGHT: 40px; TEXT-DECORATION: none
}
#header .nav {
	POSITION: relative; MARGIN: 48px 0px 0px 15px; DISPLAY: block; HEIGHT: 34px
}
#header .col-auto {
	OVERFLOW: visible
}
#header .nav LI {
	LINE-HEIGHT: 33px; DISPLAY: block; HEIGHT: 30px; FONT-SIZE: 14px; FONT-WEIGHT: 700; TEXT-DECORATION: none; _float: left
}
#header .nav LI A {
	LINE-HEIGHT: 33px; DISPLAY: block; HEIGHT: 30px; FONT-SIZE: 14px; FONT-WEIGHT: 700; TEXT-DECORATION: none; _float: left
}
#header .nav LI {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 16px; PADDING-RIGHT: 8px; BACKGROUND: #eff6f9; FLOAT: left; BORDER-RIGHT: #fff 2px solid; PADDING-TOP: 0px
}
#header .nav LI:first-child {
	border-top-left-radius: 3px
}
#header .nav LI A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 7px; PADDING-RIGHT: 15px; BACKGROUND: #eff6f9; PADDING-TOP: 0px
}
#header .nav LI.on {
	BACKGROUND: #ab7500
}
#header .nav LI.on A {
	BACKGROUND: #ab7500; COLOR: #fff
}
#header .admin_info {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 14px; COLOR: #fff; PADDING-TOP: 15px
}
#header .admin_info A {
	COLOR: #fff; TEXT-DECORATION: none
}
#header .qq {
	MARGIN: 18px 20px 0px 0px; WIDTH: 260px; BACKGROUND: url(bgimg/qq.png) no-repeat; FLOAT: right; HEIGHT: 35px
}
#header .qq SPAN {
	DISPLAY: block; COLOR: #af7700; MARGIN-LEFT: 40px
}
.left_menu {
	POSITION: relative; MARGIN-TOP: 2px; WIDTH: 134px; DISPLAY: block; BACKGROUND: #f8fafa; MARGIN-RIGHT: 9px; PADDING-TOP: 8px; _padding: 8px 0 8px 8px
}
.left_menu_on {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.left_menu_on DIV {
	VISIBILITY: hidden; _display: none
}
.left_menu H3 {
	BORDER-BOTTOM: #d9e4ea 1px solid; LINE-HEIGHT: 24px; PADDING-LEFT: 10px; MARGIN-BOTTOM: 4px; HEIGHT: 24px; COLOR: #ab7500; FONT-WEIGHT: 700; _width: 112px; _margin-right: 12px
}
.left_menu UL LI A {
	LINE-HEIGHT: 24px; BACKGROUND-COLOR: #f7fbfc; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 18px; OUTLINE-WIDTH: medium; DISPLAY: block; TEXT-DECORATION: none; _width: 100px
}
.left_menu UL LI.on {
	MARGIN: 0px; PADDING-LEFT: 20px; WIDTH: 114px; BACKGROUND: #e4e4e4; HEIGHT: 29px
}
.left_menu UL LI.on A {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 29px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND: none transparent scroll repeat 0% 0%; HEIGHT: 29px; PADDING-TOP: 0px
}
.left_menu UL LI.on A:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.left_menu UL LI A:hover {
	BACKGROUND: #e4e4e4
}
.left_menu A.open {
	Z-INDEX: 100; POSITION: absolute; WIDTH: 8px; DISPLAY: block; BACKGROUND: url(bgimg/left_menu_openClose.png) no-repeat 1px center; HEIGHT: auto; TOP: 0px; RIGHT: -9px
}
.left_menu A.close {
	Z-INDEX: 100; POSITION: absolute; WIDTH: 8px; DISPLAY: block; BACKGROUND: url(bgimg/left_menu_openClose.png) no-repeat 1px center; HEIGHT: auto; TOP: 0px; RIGHT: -9px
}
.left_menu A.close {
	BACKGROUND-POSITION: right center
}
.left_menu H3 SPAN {
	MARGIN: 8px 10px 0px 0px; WIDTH: 14px; DISPLAY: block; BACKGROUND: url(bgimg/options_ico.png) no-repeat -161px -123px; FLOAT: right; HEIGHT: 14px; TEXT-DECORATION: none
}
.left_menu H3 SPAN.on {
	BACKGROUND: url(bgimg/options_ico.png) no-repeat -129px -123px
}
.right_main {
	OVERFLOW: hidden; _float: left; _zoom: 1
}
.crumbs {
	POSITION: relative; HEIGHT: 26px
}
.mtab {
	WIDTH: 100%
}
.mtab_pre {
	BACKGROUND: url(bgimg/options_ico.png) no-repeat
}
.mtab_next {
	BACKGROUND: url(bgimg/options_ico.png) no-repeat
}
.mtab_nopre {
	BACKGROUND: url(bgimg/options_ico.png) no-repeat
}
.mtab_nonext {
	BACKGROUND: url(bgimg/options_ico.png) no-repeat
}
.mtab_h LI .del {
	BACKGROUND: url(bgimg/options_ico.png) no-repeat
}
.mtab_pre {
	TEXT-INDENT: -2000em; WIDTH: 24px; DISPLAY: block; HEIGHT: 26px; OVERFLOW: hidden
}
.mtab_next {
	TEXT-INDENT: -2000em; WIDTH: 24px; DISPLAY: block; HEIGHT: 26px; OVERFLOW: hidden
}
.mtab_pre {
	BACKGROUND-POSITION: 9px -16px
}
.mtab_next {
	DISPLAY: inline; BACKGROUND-POSITION: -5px -16px; MARGIN-RIGHT: 190px
}
.mtab_nopre {
	BACKGROUND-POSITION: -20px -16px
}
.mtab_nonext {
	BACKGROUND-POSITION: -34px -16px; MARGIN-RIGHT: 190px
}
.mtab_p {
	MARGIN: 0px 214px 0px 24px
}
.mtab_b {
	POSITION: relative; WIDTH: 100%; HEIGHT: 26px; OVERFLOW: hidden
}
.mtab_h {
	POSITION: absolute; WHITE-SPACE: nowrap; HEIGHT: 26px; OVERFLOW: hidden; TOP: 0px; BORDER-RIGHT: #dedede 1px solid; LEFT: 0px
}
.mtab_h LI {
	BORDER-LEFT: #dedede 1px solid; DISPLAY: inline-block; FLOAT: left; HEIGHT: 26px; OVERFLOW: hidden
}
.mtab_h LI SPAN {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 26px; PADDING-LEFT: 15px; PADDING-RIGHT: 10px; DISPLAY: inline-block; HEIGHT: 26px; CURSOR: pointer; PADDING-TOP: 0px
}
.mtab_h LI SPAN:hover {
	BACKGROUND: #e6ebeb
}
.mtab_h LI A {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: medium; PADDING-RIGHT: 8px; FLOAT: left; COLOR: #666; TEXT-DECORATION: none
}
.mtab_h LI .del {
	POSITION: relative; PADDING-BOTTOM: 0px; TEXT-INDENT: -2000em; MARGIN: 10px 0px 0px; PADDING-LEFT: 0px; WIDTH: 7px; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND-POSITION: -58px -24px; HEIGHT: 7px; OVERFLOW: hidden; PADDING-TOP: 0px
}
.mtab_h LI .del:hover {
	BACKGROUND-POSITION: -65px -24px
}
.mtab_h LI.current .del {
	BACKGROUND-POSITION: -74px -24px
}
.mtab_h LI.current .del:hover {
	BACKGROUND-POSITION: -81px -24px
}
.mtab_h LI.current SPAN {
	BACKGROUND: #be7b00
}
.mtab_h LI.current A {
	COLOR: #fff
}
.options {
	POSITION: absolute; WIDTH: 179px; BACKGROUND: url(bgimg/options.png) no-repeat 0px 0px; HEIGHT: 20px; OVERFLOW: hidden; TOP: 3px; RIGHT: 10px
}
.options A {
	LINE-HEIGHT: 18px; FONT-STYLE: normal; MARGIN-TOP: 1px; FLOAT: left; HEIGHT: 18px; OVERFLOW: hidden; TEXT-DECORATION: none
}
.options A:hover {
	BACKGROUND-COLOR: #f2f2f2
}
.refresh {
	BACKGROUND: url(bgimg/options_ico.png) no-repeat 0px 0px
}
.admin_full {
	BACKGROUND: url(bgimg/options_ico.png) no-repeat 0px 0px
}
.admin_unfull {
	BACKGROUND: url(bgimg/options_ico.png) no-repeat 0px 0px
}
.refresh {
	TEXT-INDENT: -2000em; WIDTH: 29px; BACKGROUND-POSITION: -61px 2px
}
.admin_full {
	TEXT-INDENT: -2000em; WIDTH: 27px; BACKGROUND-POSITION: 8px 3px
}
.admin_unfull {
	TEXT-INDENT: -2000em; WIDTH: 27px; BACKGROUND-POSITION: 8px 3px
}
.admin_unfull {
	BACKGROUND-POSITION: -27px 3px
}
.flush_cache {
	TEXT-ALIGN: center; WIDTH: 60px; COLOR: #989898
}
.admin_map {
	TEXT-ALIGN: center; WIDTH: 60px; COLOR: #989898
}
.admin_map {
	WIDTH: 62px
}
.rframe_b {
	BORDER-BOTTOM: #c2d1d8 1px solid; POSITION: relative; BORDER-LEFT: #c2d1d8 1px solid; BACKGROUND: #fff; BORDER-TOP: #c2d1d8 1px solid; BORDER-RIGHT: #c2d1d8 1px solid
}
.subnav {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 10px
}
.col_tab UL.tab_but {
	POSITION: relative; PADDING-LEFT: 14px; BOTTOM: -1px; HEIGHT: 27px
}
.col_tab UL.tab_but LI {
	BORDER-BOTTOM: #dce3ed 1px solid; BORDER-LEFT: #dce3ed 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 26px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; BACKGROUND: #eaeef4; FLOAT: left; HEIGHT: 25px; BORDER-TOP: #dce3ed 1px solid; MARGIN-RIGHT: 5px; BORDER-RIGHT: #dce3ed 1px solid; PADDING-TOP: 0px
}
.col_tab UL.tab_but LI.current {
	BORDER-BOTTOM: 0px; POSITION: relative; BACKGROUND: #fff; HEIGHT: 26px; FONT-WEIGHT: 700; _height: 27px
}
.col_tab .content {
	BORDER-BOTTOM: #dce3ed 1px solid; BORDER-LEFT: #dce3ed 1px solid; BORDER-TOP: #dce3ed 1px solid; BORDER-RIGHT: #dce3ed 1px solid; _zoom: 1
}
.col_tab .content_r {
	BORDER-TOP: #dce3ed 1px solid
}
.col_tab .content_list {
	BORDER-BOTTOM: #dce3ed 1px solid; BORDER-LEFT: #dce3ed 1px solid; BORDER-TOP: #dce3ed 1px solid; BORDER-RIGHT: #dce3ed 1px solid; _zoom: 1
}
.col-1 {
	BORDER-BOTTOM: #f4f6f5 1px solid; BORDER-LEFT: #f4f6f5 1px solid; ZOOM: 1; BACKGROUND: #fff; BORDER-TOP: #f4f6f5 1px solid; BORDER-RIGHT: #f4f6f5 1px solid
}
.col-1 DIV.content {
	BORDER-BOTTOM: #c2d1d8 1px solid; BORDER-LEFT: #c2d1d8 1px solid; ZOOM: 1; BORDER-TOP: #c2d1d8 1px solid; BORDER-RIGHT: #c2d1d8 1px solid
}
.col-2 {
	BORDER-BOTTOM: #c7d8ea 1px solid; BORDER-LEFT: #c7d8ea 1px solid; ZOOM: 1; BORDER-TOP: #c7d8ea 1px solid; BORDER-RIGHT: #c7d8ea 1px solid
}
.col-2 H6 {
	BORDER-BOTTOM: #c7d8ea 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 28px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: #f8fafa; HEIGHT: 26px; COLOR: #ab7500; PADDING-TOP: 0px
}
.col-2 DIV.content {
	PADDING-BOTTOM: 9px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 9px
}
.col-auto {
	OVERFLOW: hidden; _float: left; _zoom: 1
}
.content_menu {
	PADDING-BOTTOM: 6px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.content_menu A:hover {
	TEXT-DECORATION: none
}
.content_menu A EM {
	ZOOM: 1; DISPLAY: inline-block
}
.content_menu A.add {
	LINE-HEIGHT: 28px; BACKGROUND: url(bgimg/bnt_bg.png) no-repeat; HEIGHT: 28px
}
.content_menu A.add EM {
	LINE-HEIGHT: 28px; BACKGROUND: url(bgimg/bnt_bg.png) no-repeat; HEIGHT: 28px
}
.content_menu A.on {
	LINE-HEIGHT: 28px; BACKGROUND: url(bgimg/bnt_bg.png) no-repeat; HEIGHT: 28px
}
.content_menu A.on EM {
	LINE-HEIGHT: 28px; BACKGROUND: url(bgimg/bnt_bg.png) no-repeat; HEIGHT: 28px
}
.content_menu SPAN {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; COLOR: #ddd; PADDING-TOP: 0px
}
.content_menu A {
	CURSOR: pointer
}
.content_menu A.add {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.content_menu A.add EM {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 10px; BACKGROUND-POSITION: right -1px; COLOR: #fff; PADDING-TOP: 0px
}
.content_menu A.on {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 0px; BACKGROUND-POSITION: left -40px; COLOR: #fff; PADDING-TOP: 0px; _background-position: left -39px
}
.content_menu A.on EM {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 10px; BACKGROUND-POSITION: right -41px; PADDING-TOP: 0px; _background-position: right -39px
}
.cache_ifm {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; LINE-HEIGHT: 22px; HEIGHT: 22px; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
.item_imglist {
	MARGIN-BOTTOM: 20px
}
.item_imglist .item {
	BORDER-BOTTOM: #e0e0e0 1px solid; POSITION: relative; BORDER-LEFT: #e0e0e0 1px solid; PADDING-BOTTOM: 5px; MARGIN: 0px 15px 15px 0px; PADDING-LEFT: 5px; WIDTH: 120px; PADDING-RIGHT: 5px; BORDER-TOP: #e0e0e0 1px solid; BORDER-RIGHT: #e0e0e0 1px solid; PADDING-TOP: 5px
}
.item_imglist .item .check {
	POSITION: absolute; TOP: 5px; LEFT: 5px
}
.item_imglist .item .img {
	WIDTH: 120px; HEIGHT: 120px; OVERFLOW: hidden
}
.item_imglist .item .img IMG {
	WIDTH: 120px
}
.item_imglist .item SPAN {
	LINE-HEIGHT: 16px; DISPLAY: block; HEIGHT: 35px; COLOR: #444; OVERFLOW: hidden
}
.item_imglist .item UL {
	MARGIN-TOP: 5px
}
.item_imglist .item UL LI {
	TEXT-ALIGN: center; MARGIN-TOP: 5px; WIDTH: 50%; FLOAT: left
}
.album_imglist {
	MARGIN-BOTTOM: 20px
}
.album_imglist .album {
	BORDER-BOTTOM: #e0e0e0 1px solid; BORDER-LEFT: #e0e0e0 1px solid; PADDING-BOTTOM: 5px; MARGIN: 0px 15px 15px 0px; PADDING-LEFT: 5px; WIDTH: 167px; PADDING-RIGHT: 5px; BORDER-TOP: #e0e0e0 1px solid; BORDER-RIGHT: #e0e0e0 1px solid; PADDING-TOP: 5px
}
.album_imglist .album H4 {
	COLOR: #666
}
.album_imglist .album LI {
	MARGIN: 1px 0px 0px 1px; WIDTH: 55px; DISPLAY: inline; BACKGROUND: #e9e9e9; HEIGHT: 55px; OVERFLOW: hidden
}
.album_imglist .album LI.left {
	MARGIN: 1px 0px 0px
}
.album_imglist .album .check {
	MARGIN-TOP: 4px
}
.tag_list {
	BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; PADDING-BOTTOM: 5px; OVERFLOW-X: hidden; OVERFLOW-Y: scroll; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; FLOAT: left; BORDER-TOP: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid; PADDING-TOP: 0px
}
.tag_list LI {
	BORDER-BOTTOM: #999999 1px solid; BORDER-LEFT: #999999 1px solid; PADDING-BOTTOM: 2px; MARGIN: 5px 0px 0px 5px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; WHITE-SPACE: nowrap; FLOAT: left; BORDER-TOP: #999999 1px solid; CURSOR: pointer; BORDER-RIGHT: #999999 1px solid; PADDING-TOP: 2px
}
.cate_tags LI {
	BACKGROUND: #09f; COLOR: #fff
}
.tooltip {
	PADDING-BOTTOM: 25px; PADDING-LEFT: 25px; WIDTH: 160px; PADDING-RIGHT: 25px; DISPLAY: none; BACKGROUND: url(bgimg/black_arrow.png); HEIGHT: 70px; COLOR: #eee; FONT-SIZE: 12px; PADDING-TOP: 25px
}
.bottom.tooltip {
	BACKGROUND: url(bgimg/black_arrow_bottom.png); HEIGHT: 55px; PADDING-TOP: 40px
}
#pages {
	TEXT-ALIGN: right; FLOAT: right; MARGIN-RIGHT: 20px
}
#pages A {
	BORDER-BOTTOM: #ccc 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 22px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; DISPLAY: inline-block; BACKGROUND: white 0px 0px; HEIGHT: 22px; COLOR: #cf4429; MARGIN-LEFT: 0px; FONT-SIZE: 12px; BORDER-TOP: #ccc 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: medium none; PADDING-TOP: 0px; box-shadow: 3px 1px 3px #CCC; -moz-box-shadow: 3px 1px 3px #CCC; -webkit-box-shadow: 3px 1px 3px #CCC
}
#pages SPAN {
	BORDER-BOTTOM: #ccc 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 22px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; DISPLAY: inline-block; BACKGROUND: white 0px 0px; HEIGHT: 22px; COLOR: #cf4429; MARGIN-LEFT: 0px; FONT-SIZE: 12px; BORDER-TOP: #ccc 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: medium none; PADDING-TOP: 0px; box-shadow: 3px 1px 3px #CCC; -moz-box-shadow: 3px 1px 3px #CCC; -webkit-box-shadow: 3px 1px 3px #CCC
}
#pages SPAN {
	BACKGROUND: #e6e6e6; COLOR: #808080; FONT-WEIGHT: bold
}
#pages A.page_prev {
	WIDTH: 50px; BACKGROUND: #4d81bb 0px 5px
}
#pages A.page_first {
	WIDTH: 50px; BACKGROUND: #4d81bb 0px 5px
}
#pages A.page_last {
	WIDTH: 50px; BACKGROUND: #4d81bb 0px 5px
}
#pages A.page_next {
	WIDTH: 50px; BACKGROUND: #4d81bb 0px 5px
}
#pages A:hover {
	COLOR: #ff6701; TEXT-DECORATION: none
}
.treeTable TR TD .expander {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; ZOOM: 1; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left center; CURSOR: pointer; PADDING-TOP: 0px
}
.treeTable TR.collapsed TD .expander {
	BACKGROUND-IMAGE: url(bgimg/tv-expandable.gif)
}
.treeTable TR.expanded TD .expander {
	BACKGROUND-IMAGE: url(bgimg/tv-collapsable.gif)
}
.ke-container TD {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.ke-container TH {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BODY {
	_height: 100%; _margin: 0
}
.d-outer {
	TEXT-ALIGN: left
}
.d-border {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; MARGIN: 0px; WIDTH: auto; BORDER-COLLAPSE: collapse; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.d-dialog {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; MARGIN: 0px; WIDTH: auto; BORDER-COLLAPSE: collapse; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.d-nw {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.d-n {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.d-ne {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.d-w {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.d-c {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.d-e {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.d-sw {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.d-s {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.d-se {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.d-header {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.d-main {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.d-footer {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.d-header {
	FONT: 12px/1.11 "Microsoft Yahei", Tahoma, Arial, Helvetica, STHeiti; _font-family: Tahoma, Arial, Helvetica, STHeiti; -o-font-family: Tahoma, Arial
}
.d-button {
	FONT: 12px/1.11 "Microsoft Yahei", Tahoma, Arial, Helvetica, STHeiti; _font-family: Tahoma, Arial, Helvetica, STHeiti; -o-font-family: Tahoma, Arial
}
.d-title {
	TEXT-OVERFLOW: ellipsis; OVERFLOW: hidden; CURSOR: default
}
.d-state-noTitle .d-title {
	DISPLAY: none
}
.d-close {
	POSITION: absolute; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: medium; DISPLAY: block; TEXT-DECORATION: none; _cursor: pointer
}
.d-close:hover {
	TEXT-DECORATION: none
}
.d-main {
	MIN-WIDTH: 9em; TEXT-ALIGN: center; VERTICAL-ALIGN: top
}
.d-content {
	BORDER-BOTTOM: 0px; TEXT-ALIGN: left; BORDER-LEFT: 0px; WIDTH: 100%; DISPLAY: block; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.d-state-full.d-content {
	PADDING-BOTTOM: 0px !important; MARGIN: 0px; PADDING-LEFT: 0px !important; WIDTH: 100%; PADDING-RIGHT: 0px !important; DISPLAY: block; HEIGHT: 100%; PADDING-TOP: 0px !important
}
.d-loading {
	TEXT-INDENT: -999em; BACKGROUND: url(bgimg/dialog/loading.gif) no-repeat center center; HEIGHT: 32px; OVERFLOW: hidden
}
.d-buttons {
	TEXT-ALIGN: right; PADDING-BOTTOM: 5px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; WHITE-SPACE: nowrap; PADDING-TOP: 5px
}
.d-button {
	BORDER-BOTTOM: #999 1px solid; TEXT-ALIGN: center; FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#DDDDDD'); BORDER-LEFT: #999 1px solid; PADDING-BOTTOM: 0px; MIN-HEIGHT: 2.1em; PADDING-LEFT: 8px; WIDTH: auto; PADDING-RIGHT: 8px; DISPLAY: inline-block; FONT-FAMILY: Tahoma, Arial/9 !important; BACKGROUND: #ddd; LETTER-SPACING: 2px; COLOR: #333; MARGIN-LEFT: 15px; OVERFLOW: visible; BORDER-TOP: #999 1px solid; CURSOR: pointer; BORDER-RIGHT: #999 1px solid; PADDING-TOP: 0px; border-radius: 5px; text-shadow: 0px 1px 1px rgba(255, 255, 255, 1); box-shadow: 0 1px 0 rgba(255, 255, 255, .7), 0 -1px 0 rgba(0, 0, 0, .09); -moz-transition: -moz-box-shadow linear .2s; -webkit-transition: -webkit-box-shadow linear .2s; transition: box-shadow linear .2s
}
.d-button:focus {
	BORDER-BOTTOM-COLOR: #426dc9; BORDER-TOP-COLOR: #426dc9; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: 0px; BORDER-RIGHT-COLOR: #426dc9; BORDER-LEFT-COLOR: #426dc9; box-shadow: 0 0 8px rgba(66, 109, 201, .9)
}
.d-button:hover {
	BORDER-BOTTOM-COLOR: #666; BORDER-TOP-COLOR: #666; COLOR: #000; BORDER-RIGHT-COLOR: #666; BORDER-LEFT-COLOR: #666
}
.d-button:active {
	BORDER-BOTTOM-COLOR: #666; FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DDDDDD', endColorstr='#FFFFFF'); BORDER-TOP-COLOR: #666; BORDER-RIGHT-COLOR: #666; BORDER-LEFT-COLOR: #666; box-shadow: inset 0 1px 5px rgba(66, 109, 201, .9), inset 0 1px 1em rgba(0, 0, 0, .3)
}
[disabled].d-button {
	BORDER-BOTTOM: #999 1px solid; FILTER: alpha(opacity=50); BORDER-LEFT: #999 1px solid; BACKGROUND: #ddd; COLOR: #666; BORDER-TOP: #999 1px solid; CURSOR: default; BORDER-RIGHT: #999 1px solid; box-shadow: none; opacity: .5
}
.d-state-highlight {
	BORDER-BOTTOM: #1c6a9e 1px solid; FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bbee', endColorstr='#2288cc'); BORDER-LEFT: #1c6a9e 1px solid; BACKGROUND: #289121; COLOR: #fff; BORDER-TOP: #1c6a9e 1px solid; BORDER-RIGHT: #1c6a9e 1px solid; text-shadow: -1px -1px 1px #1c6a9e
}
.d-state-highlight:hover {
	BORDER-BOTTOM-COLOR: #0f3a56; BORDER-TOP-COLOR: #0f3a56; COLOR: #fff; BORDER-RIGHT-COLOR: #0f3a56; BORDER-LEFT-COLOR: #0f3a56
}
.d-state-highlight:active {
	BORDER-BOTTOM-COLOR: #1c6a9e; FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bbee', endColorstr='#2288cc'); BORDER-TOP-COLOR: #1c6a9e; BORDER-RIGHT-COLOR: #1c6a9e; BORDER-LEFT-COLOR: #1c6a9e
}
.d-mask {
	FILTER: alpha(opacity=40); BACKGROUND: #000000; opacity: .4
}
.d-inner {
	BORDER-BOTTOM: #999 1px solid; BORDER-LEFT: #999 1px solid; BACKGROUND: #fff; BORDER-TOP: #999 1px solid; BORDER-RIGHT: #999 1px solid
}
.d-nw {
	WIDTH: 6px; HEIGHT: 6px
}
.d-ne {
	WIDTH: 6px; HEIGHT: 6px
}
.d-sw {
	WIDTH: 6px; HEIGHT: 6px
}
.d-se {
	WIDTH: 6px; HEIGHT: 6px
}
.d-nw {
	FILTER: alpha(opacity=20); BACKGROUND: #000
}
.d-n {
	FILTER: alpha(opacity=20); BACKGROUND: #000
}
.d-ne {
	FILTER: alpha(opacity=20); BACKGROUND: #000
}
.d-w {
	FILTER: alpha(opacity=20); BACKGROUND: #000
}
.d-e {
	FILTER: alpha(opacity=20); BACKGROUND: #000
}
.d-sw {
	FILTER: alpha(opacity=20); BACKGROUND: #000
}
.d-s {
	FILTER: alpha(opacity=20); BACKGROUND: #000
}
.d-se {
	FILTER: alpha(opacity=20); BACKGROUND: #000
}
.d-state-lock .d-nw {
	FILTER: alpha(opacity=20); BACKGROUND: #000
}
.d-state-lock .d-n {
	FILTER: alpha(opacity=20); BACKGROUND: #000
}
.d-state-lock .d-ne {
	FILTER: alpha(opacity=20); BACKGROUND: #000
}
.d-state-lock .d-w {
	FILTER: alpha(opacity=20); BACKGROUND: #000
}
.d-state-lock .d-e {
	FILTER: alpha(opacity=20); BACKGROUND: #000
}
.d-state-lock .d-sw {
	FILTER: alpha(opacity=20); BACKGROUND: #000
}
.d-state-lock .d-s {
	FILTER: alpha(opacity=20); BACKGROUND: #000
}
.d-state-lock .d-se {
	FILTER: alpha(opacity=20); BACKGROUND: #000
}
.d-titleBar {
	POSITION: relative; HEIGHT: 100%
}
.d-title {
	BORDER-BOTTOM: #c7ced8 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 30px; BACKGROUND-COLOR: #f2f2f3; PADDING-LEFT: 10px; PADDING-RIGHT: 48px; HEIGHT: 30px; COLOR: #999; FONT-SIZE: 14px; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
.d-state-focus .d-title {
	COLOR: #4c5a5f
}
.d-state-drag .d-title {
	CURSOR: move
}
.d-close {
	BACKGROUND-IMAGE: url(bgimg/dialog/close.gif); PADDING-BOTTOM: 0px; TEXT-INDENT: -9em; PADDING-LEFT: 0px; WIDTH: 28px; PADDING-RIGHT: 0px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 18px; OVERFLOW: hidden; TOP: 0px; RIGHT: 8px; PADDING-TOP: 0px
}
.d-close:hover {
	BACKGROUND-POSITION: 0px -18px
}
.d-close:active {
	BACKGROUND-POSITION: 0px -18px
}
.d-content {
	COLOR: #666
}
.d-state-focus .d-content {
	COLOR: #000
}
.d-buttons {
	BACKGROUND-COLOR: #f6f6f6; BORDER-TOP: #dadee5 1px solid
}
.d-state-noTitle .d-close {
	TEXT-ALIGN: center; FILTER:  !important; LINE-HEIGHT: 18px; TEXT-INDENT: 0px; WIDTH: 18px; BACKGROUND: none transparent scroll repeat 0% 0%; HEIGHT: 18px; COLOR: #214fa3; FONT-SIZE: 18px; TOP: 0px; RIGHT: 0px; TEXT-DECORATION: none
}
.d-state-noTitle .d-close:hover {
	COLOR: #900; TEXT-DECORATION: none
}
.d-state-noTitle .d-close:active {
	COLOR: #900; TEXT-DECORATION: none
}
.color_picker_btn {
	POSITION: relative; DISPLAY: inline-block
}
.tipbox {
	POSITION: absolute; LINE-HEIGHT: 54px; DISPLAY: none; HEIGHT: 54px
}
.tipbox .tip-l {
	BACKGROUND-IMAGE: url(bgimg/tip_layer.png); WIDTH: 45px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: -5px 0px; FLOAT: left; HEIGHT: 54px
}
.tipbox .tip-c {
	BACKGROUND-IMAGE: url(bgimg/tip_layer.png); PADDING-BOTTOM: 0px; LINE-HEIGHT: 52px; PADDING-LEFT: 5px; PADDING-RIGHT: 10px; BACKGROUND-REPEAT: repeat-x; BACKGROUND-POSITION: 0px -161px; FLOAT: left; HEIGHT: 54px; PADDING-TOP: 0px
}
.tipbox .tip-r {
	BACKGROUND-IMAGE: url(bgimg/tip_layer.png); WIDTH: 5px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 0px 0px; FLOAT: left; HEIGHT: 54px
}
.tip-success .tip-l {
	BACKGROUND-POSITION: -6px 0px
}
.tip-alert .tip-l {
	BACKGROUND-POSITION: -6px -54px
}
.tip-error .tip-l {
	BACKGROUND-POSITION: -6px -108px
}
.attachment_icon {
	POSITION: relative; MARGIN-LEFT: 8px
}
.attachment_tip {
	Z-INDEX: 9; BORDER-BOTTOM: #ccc 1px solid; POSITION: absolute; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; DISPLAY: none; BORDER-TOP: #ccc 1px solid; TOP: 16px; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 1px; LEFT: 16px
}
DIV.title-header {
	BORDER-BOTTOM: #ffffff 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 9px; PADDING-RIGHT: 9px; BACKGROUND: #e6e6e6 0px 0px; COLOR: #666666; FONT-SIZE: 12px; BORDER-TOP: #dddddd 1px solid; PADDING-TOP: 5px
}
DIV.help {
	PADDING-BOTTOM: 5px; LINE-HEIGHT: 2em; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; MARGIN-BOTTOM: 10px; COLOR: #666; FONT-SIZE: 12px; FONT-WEIGHT: normal; PADDING-TOP: 5px
}
DIV.help UL LI {
	LIST-STYLE-TYPE: circle; HEIGHT: 18px; COLOR: #666; MARGIN-LEFT: 10px; FONT-SIZE: 12px
}
DIV.help P {
	HEIGHT: 20px
}
DIV.help P A:hover {
	TEXT-DECORATION: underline
}
TABLE.table1 {
	WIDTH: 100%; BORDER-COLLAPSE: collapse
}
TABLE.table1 TR {
	PADDING-BOTTOM: 8px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; VERTICAL-ALIGN: middle; PADDING-TOP: 8px
}
TABLE.table1 TH {
	PADDING-BOTTOM: 8px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; VERTICAL-ALIGN: middle; PADDING-TOP: 8px
}
TABLE.table1 TD {
	PADDING-BOTTOM: 8px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; VERTICAL-ALIGN: middle; PADDING-TOP: 8px
}
TABLE.table1 TR TH {
	TEXT-ALIGN: left; PADDING-BOTTOM: 9px; LINE-HEIGHT: 24px; BACKGROUND-COLOR: #f8f8f8; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; COLOR: #666; VERTICAL-ALIGN: middle; FONT-WEIGHT: bold; BORDER-RIGHT: #e5e3e3 1px solid; PADDING-TOP: 7px
}
TABLE.table1 TR TD {
	COLOR: #666
}
TABLE.table1 TR.header {
	BACKGROUND: #eef3f6
}
TABLE.table1 TR:hover {
	BACKGROUND: #eaeff2
}
TABLE.table1 .w150 {
	WIDTH: 150px !important
}
TABLE.table2 {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; WIDTH: 100%; BORDER-COLLAPSE: collapse; COLOR: #666; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
TABLE.table2 TR:hover {
	BACKGROUND: #eaeff2
}
TABLE.table2 THEAD TH {
	BORDER-BOTTOM: #5aa020 1px solid; BACKGROUND: #e6e6e6 0px 0px; OVERFLOW: hidden; BORDER-TOP: #cccccc 1px solid
}
TABLE.table2 THEAD TD {
	BORDER-BOTTOM: #5aa020 1px solid; BACKGROUND: #e6e6e6 0px 0px; OVERFLOW: hidden; BORDER-TOP: #cccccc 1px solid
}
TABLE.table2 TR {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; HEIGHT: 20px; PADDING-TOP: 5px
}
TABLE.table2 TH {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; HEIGHT: 20px; PADDING-TOP: 5px
}
TABLE.table2 TD {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; HEIGHT: 20px; PADDING-TOP: 5px
}
TABLE.table3 {
	WIDTH: 100%
}
TABLE.table3 {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
TABLE.table3 TR {
	
}
TABLE.table3 TR TD {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; PADDING-TOP: 5px
}
TABLE.table3 TR TH {
	WIDTH: 100px
}
TABLE.table3 THEAD TR TD {
	BACKGROUND: #eee; COLOR: #333
}
